input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: #d4d4d8; /* Color del texto */
    transition: background-color 5000s ease-in-out 0s;
}

input:focus {
    background-color: transparent;
}