<header class="bg-black shadow-md p-4 flex sm:justify-between sm:space-x-4 items-center text-white">
     <!-- Logo -->
    <a routerLink="/" class="flex">
        <img src="assets/images/logo.jpg" alt="Logo" class="w-24 rounded-full">
    </a>
 

    <!-- NAV OPEN +640PX -->
    <nav class="hidden sm:flex sm:w-max space-x-6">
        <a routerLink="/productos" class="hover:text-gray-400 text-lg ">Productos</a>
        <a routerLink="/sobre-nosotros" class="hover:text-gray-400 text-lg ">Mi pedido</a>
        <a routerLink="/informacion" class="hover:text-gray-400 text-lg">Información</a>
    </nav>


    <!-- NAV RESPONSIVE -640PX -->
    <div class="ml-5 sm:hidden sm:w-1/4">
        <button class="flex sm:hidden" (click)="openNav()">
            <i class="fa fa-bars text-2xl hover:text-gray-300" aria-hidden="true"></i>
        </button>
            <nav [ngClass]="{'h-0 border-none p-0': !navIsOpen, 'h-40 p-5': navIsOpen}" class="space-x-6 sm:hidden pl-5 pr-5 absolute bg-black border-gray-700 border transition-all duration-300 ease-in-out overflow-hidden rounded-md mt-3">
            <ul class="flex flex-col justify-between h-full">
                <li><a routerLink="/productos" class="hover:text-gray-400 text-lg">Productos</a></li>
                <li><a routerLink="/sobre-nosotros" class="hover:text-gray-400 text-lg">Mi pedido</a></li>
                <li><a routerLink="/informacion" class="hover:text-gray-400 text-lg">Información</a></li>
            </ul>
        </nav>
    </div>
    


    <!-- Carrito -->
    <app-carrito class="ml-auto sm:ml-0 w-24 flex justify-center"></app-carrito>
</header>