<header class="bg-white shadow-md p-4 flex justify-between items-center">
    <!-- Logo -->
    <a routerLink="/" class="flex items-center">
        <img src="assets/images/logo.png" alt="Logo" class="h-20">
    </a>

    <!-- Menú -->
    <nav class="flex space-x-6">
        <a routerLink="/productos" class="hover:text-gray-600 text-lg ">Productos</a>
        <a routerLink="/sobre-nosotros" class="hover:text-gray-600 text-lg ">Mi pedido</a>
        <a routerLink="/informacion" class="hover:text-gray-600 text-lg">Información</a>
    </nav>

    <!-- Carrito -->
    <app-carrito></app-carrito>
</header>