<div class="cursor-pointer font-rubik relative rounded-2xl bg-black grid grid-cols-3 gap-4 w-full h-44 shadow-md hover:shadow-none transition duration-150 shadow-black overflow-hidden max-w-3/4 mx-auto my-4">
    <div class="info col-span-2 text-white flex flex-col justify-between m-4">
        <h2 class="font-extrabold text-lg">{{producto.nombre}}</h2>
        <h3 class="line-clamp-3 text-xs max-h-[3rem] font-medium">{{producto.descripcion}}</h3>
        <h2 class="text-x mt-2 font-light">${{producto.precio}}</h2>
    </div>
    <div class="img h-full relative">
        <img src="{{producto.imagen}}" class="h-full w-full object-cover" alt="{{producto.nombre}}">
        <!-- Ícono ADD -->
        <i class="fa fa-plus-circle text-white text-3xl absolute bottom-2 right-2 opacity-80 hover:opacity-100 transition-opacity duration-300 cursor-pointer"></i>
    </div>
</div>