<!-- Modal -->
<div class="bg-black">
    <div class="max-w-5xl mx-auto">
        <div class="modal-content rounded-lg shadow-l">
            <div class="font-rubik text-white grid md:grid-cols-2 gap-4 p-5">

                <!-- Botón de cerrar -->
                <button type="button" class="absolute top-0 right-0 p-2 pr-4 text-white text-xl hover:text-gray-300"
                    data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <i class="fas fa-times"></i> <!-- Icono de FontAwesome para la X -->
                </button>

                <!-- Imagen del producto -->
                <div class="flex items-center justify-center overflow-hidden rounded-lg">
                    <img class="rounded-sm w-full md:w-[35rem] h-[30rem] object-cover" [src]="data?.imagen"
                        alt="{{ data?.nombre }}">
                </div>

                <!-- Información del producto -->
                <div class="flex flex-col justify-between p-5">
                    <div class="flex flex-col gap-5 overflow-y-auto pr-5 max-h-96 custom-scroll">
                        <div class="flex flex-col">
                            <h2 class="text-2xl font-bold">{{ data?.nombre }}</h2>
                            <p class="text-base text-gray-400 font-medium mt-1">{{ data?.descripcion }}</p>
                        </div>

                        <!-- LISTADO DE INGREDIENTES FALTANTES -->
                        <div>
                            <h1 class="text-lg font-semibold">Agregar a la {{data?.nombre}}</h1>
                            <ul>
                                <app-ingrediente-card *ngFor="let ingrediente of listadoIngredientesAgregar" [ingrediente]="ingrediente" (cambioSeleccion)="actualizarListadoSeleccionados($event)">
                                </app-ingrediente-card>
                            </ul>
                        </div>

                        <!-- LISTADO DE INGREDIENTES A QUITAR -->
                        <h1 class="text-lg font-semibold">Sacar de la {{ data?.nombre }}</h1>
                        <ul>
                            <li *ngFor="let ingrediente of listadoIngredientesTiene">
                                <app-ingrediente-card *ngFor="let ingrediente of listadoIngredientesTiene" [ingrediente]="ingrediente" (cambioSeleccion)="actualizarListadoEliminados($event)">
                                </app-ingrediente-card>
                        </ul>
                        
                    </div>

                    <!-- Botón para agregar al carrito -->
                    <div class="p-4">
                        <button type="button"
                            class="flex justify-between w-full p-3 bg-green-500 text-white font-semibold rounded-md hover:bg-green-600"
                            (click)="agregar()">
                            <p>Agregar</p>
                            <p>{{ precioTotal | currency:'USD' }}</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>